
<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/buttons.css">
    <title>正在游戏中...</title>

    <style>
        .tree li {
            list-style-type: none;
            cursor:pointer;
        }
        table tbody tr:nth-child(odd){background:#F4F4F4;}
        table tbody td:nth-child(even){color:#C00;}

        /*背景层*/
        #popLayer {
            display: none;
            background-color: #B3B3B3;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1001;
            width: 100%;
            height: 100%;
            position:fixed;
            -moz-opacity: 0.8;
            opacity:.80;
            filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
        }

        /*道具弹出层*/
        #popBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 1002;
            width: 80%;
            height: 80%;
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
        }

        /*道具关闭按钮*/
        #popBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }

        #popBox .content{
            text-align: right;
            margin-right: 5px;
            background-color: #F8F8F8;
        }

        /*奖励弹出层*/
        #allClearRewardBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 1002;
            width: 20%;
            height: 20%;
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
        }

        /*奖励关闭*/
        #allClearRewardBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }

        #allClearRewardBox .content{
            text-align: right;
            margin-right: 5px;
            background-color: #F8F8F8;
        }

        /*商店弹出层*/
        #storeBox {
            display: none;
            background-color: #FFFFFF;
            z-index: 1002;
            width: 50%;
            height: 50%;
            position:fixed;
            top:0;
            right:0;
            left:0;
            bottom:0;
            margin:auto;
        }

        /*商店关闭*/
        #storeBox .close a {
            text-decoration: none;
            color: #2D2C3B;
        }

        #storeBox .content{
            text-align: right;
            margin-right: 5px;
            background-color: #F8F8F8;
        }

    </style>
</head>

<body>
<div id="popLayer"></div>
<div id="propDiv">
    <div id="popBox">
        <div class="close">
            <a href="javascript:void(0)" onclick="closeBox()">关闭</a>
        </div>
        <div class="content" align="center">
            <table class="table-bordered" id="packsack" align="center">
                <tr th:if="${gameProps}!=null" style="height: 40px" th:each="gameProp:${gameProps}" align="center">
                    <td th:id="${gameProp.id}" th:each="gameProp:${propListss}"
                        th:utext="${gameProp.propName}+'<sub>'+${gameProp.theNumber}+'</sub>'" th:value="${gameProp.theNumber}"
                        th:title="${gameProp.propDescribe}"
                        style="width: 40px"></td>
                </tr>
                <tr th:if="${gameProps}==null">背包为空</tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div align="center">
            <button id="porpUse" onclick="propUse()">使用</button>
            <button id="porpSynthetic" onclick="propSynthetic()">合成</button>
            <button id="porpDiscarded" onclick="porpDiscarded()">丢弃</button>
        </div>
    </div>
</div>
<div id="allClearRewardDiv">
    <div id="allClearRewardBox">
        <div class="close">
            <a href="javascript:void(0)" onclick="allClearRewardCloseBox()"></a>
        </div>
        <div class="content" align="center">
            <table class="table-bordered" id="allClearReward" align="center">
                <tr align="center">
                    <td colspan="3">选择怪物全清奖励</td>
                </tr>
                <tr style="height: 50px" align="center">
                    <td id="allClearReward1" style="width: 50px" onclick="allClearReward(0)"></td>
                    <td id="allClearReward2" style="width: 50px" onclick="allClearReward(1)"></td>
                    <td id="allClearReward3" style="width: 50px" onclick="allClearReward(2)"></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="storeDiv">
    <div id="storeBox">
        <div class="close">
            <a href="javascript:void(0)" onclick="storeCloseBox()"></a>
        </div>
        <div class="content" align="center">
            <table class="table-bordered" id="store" align="center">
                <tr style="height: 50px" align="center">
                    <td colspan="6">欢迎光临</td>
                </tr>
            </table>
        </div>

        <div align="center">
            <button id="storeBuy" onclick="storeBuy()">购买</button>
            <button id="storeCancel" onclick="storeCancel()">取消</button>
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <div><a class="navbar-brand" style="font-size:32px;" href="/index">轮回世界</a></div>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li style="padding-top:8px;">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-success dropdown-toggle" data-toggle="dropdown">
                            <i class="glyphicon glyphicon-user" th:utext="${nickname}"></i><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/toUser"><i class="glyphicon glyphicon-cog"></i> 个人中心</a></li>
                            <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息</a></li>
                            <li class="divider"></li>
                            <li><a href="/delLogin"><i class="glyphicon glyphicon-off"></i> 退出系统</a></li>
                        </ul>
                    </div>
                </li>
                <li style="margin-left:10px;padding-top:8px;">
                    <button type="button" class="btn btn-default btn-danger">
                        <span class="glyphicon glyphicon-question-sign"></span> 帮助
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-3 sidebar" style="width: 22.5%">
            <p id="roleName" th:utext="'角色名称：'+${role.nickname}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="roleId" th:value="${role.id}" th:utext="'角色编号：'+${role.id}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p th:utext="'角色属性：'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="roleExp" th:value="${role.exp}" th:utext="'当前经验：'+${role.exp}+'<button onclick=&quot;leaveUP()&quot;>升级</button>'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="roleLeaveExp" th:value="${role.leaveExp}" th:utext="'升级经验：'+${role.leaveExp}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="roleLeave" th:value="${role.roleLeave}" th:utext="'角色等级：'+${role.roleLeave}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="roleLife" th:value="${role.life}" th:utext="'血量：'+${role.life}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="lifeMax" th:value="${role.lifeMax}" th:utext="'最大血量：'+${role.lifeMax}+'&nbsp;'+'<button id=&quot;physicalButton&quot; class=&quot;button button-primary button-circle button-tiny&quot; onclick=&quot;physical()&quot;>+</button>'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="magic" th:value="${role.magic}" th:utext="'魔法：'+${role.magic}+'&nbsp;'+'<button id=&quot;mindButton&quot; class=&quot;button button-primary button-circle button-tiny&quot; onclick=&quot;mind()&quot;>+</button>'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="attack" th:value="${role.attack}" th:utext="'攻击：'+${role.attack}+'&nbsp;'+'<button id=&quot;powerButton&quot; class=&quot;button button-primary button-circle button-tiny&quot; onclick=&quot;powers()&quot;>+</button>'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="defense" th:value="${role.defense}" th:utext="'防御：'+${role.defense}+'&nbsp;'+'<button id=&quot;agilityButton&quot; class=&quot;button button-primary button-circle button-tiny&quot; onclick=&quot;agility()&quot;>+</button>'" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="feedDegree" th:value="${role.feedDegree}" th:utext="'饥饿度：'+${role.feedDegree}" style="position:relative;left:20%;top: 5%" >测试角色</p>
            <p id="roleFreelyDistributable" th:value="${role.freelyDistributable}" th:utext="'可自由分配属性点：'+${role.freelyDistributable}" style="position:relative;left:20%;top: 5%" >测试角色</p>
            <p id="gold" th:value="${role.gold}" th:utext="'金钱：'+${role.gold}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p id="skillPoints" th:value="${role.skillPoints}" th:utext="'技能点：'+${role.skillPoints}" style="position:relative;left:20%;top: 5%">测试角色</p>
            <p style="position:relative;left:20%;top: 5%">
                <button name="popBox" onclick="popBox()">背包</button>
            </p>
            <p style="position:relative;top: 5%">
                <textarea id="fighting" cols="45" readonly="readonly" rows="8"></textarea>
            </p>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 main" style="width: 1050px">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> 地图</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table-bordered" id="mapTable">
                            <tr th:each="gameMaps:${gameMapSs}" style="height: 60px" align="center">
                                <td th:id="${gameMap.x}+','+${gameMap.y}" th:each="gameMap:${gameMaps}" th:utext="${gameMap.data.MapDescribe}" th:title="${gameMap.data.MapTitle}" style="width: 60px"></td>
                            </tr>
                        </table>
                        <br>
                        <p>拥有的技能：</p>
                        <div id="skill">
                            <div th:if="${roleSkills}!=null" th:each="skill:${roleSkills}">
                                <text th:utext="${skill.skillName}+':'
                           +${skill.skillDescribe}+' LV'+${skill.skillLeave}+' 消耗：'+${skill.skillConsume}"></text>
                                <button th:id="${skill.id}" th:if="${skill.skillInitiative}=='1'">使用</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="jquery/jquery-2.1.1.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="script/docs.min.js"></script>
<script type="text/javascript" src="bootstrap/js/button.js"></script>
<script type="text/javascript" src="jquery/layer/layer.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        //角色移动,棋盘重写
        $("#mapTable").delegate("td","click",function(){
            var attr = this.id;
            var roleId = $("#roleId").attr("value");
            var rounds = $("#rounds").attr("value");
            $.post("/next",{attr:attr,roleId:roleId},function (ResultEntity) {
                if (ResultEntity.result == "SUCCESS"){

                    $("#fighting").append(ResultEntity.message)
                    roleAttribute();

                    var data = ResultEntity.data;

                    var content = '';
                    $.each(data,function (i,n) {
                        content += "<tr style=\"height: 60px\" align=\"center\">"

                        $.each(n,function (i,m) {
                            content += "<td id='"+m.x+","+m.y+"'"+" ";
                            content += "title='"+m.data.MapTitle+"'"+" ";
                            content += "style=\"width: 60px\">"
                            content += m.data.MapDescribe
                            content += "</td>"
                        })

                        content += "</tr>"
                    })

                    $("#mapTable").html(content);

                    //判断是否存在全清奖励和商店
                    if (ResultEntity.secondMessage!=null){
                        if ((ResultEntity.secondMessage+"").startsWith("allClearReward")){
                            //弹出奖励
                            allClearRewardBox();
                        }else if ((ResultEntity.secondMessage+"").startsWith("store")){
                            //弹出商店
                            storeBox(attr);
                        }
                    }
                }else {
                    if ((ResultEntity.message+"").startsWith("角色已死亡")){
                        alert(ResultEntity.message);
                        window.location.href = "index";
                    }
                    alert(ResultEntity.message);
                    window.location.href = "index"
                }
            })
        })

        $("#packsack").delegate("td","click",function(){
            var bgColor = this.bgColor;
            if (bgColor == "#696969"){
                this.bgColor = "";
            }else {
                this.bgColor = "#696969";
            }
        })

        $("#store").delegate("td","click",function(){
            var bgColor = this.bgColor;
            if (bgColor == "#696969"){
                this.bgColor = "";
            }else {
                this.bgColor = "#696969";
            }
        })

        $("#skill").delegate("button","click",function(){
            var skillId = this.id;
            var roleId = $("#roleId").attr("value");
            $.post("/skillUse",{roleId:roleId,skillId:skillId},function (ResultEntity) {
                if (ResultEntity.result=="SUCCESS"){
                    $("#fighting").append(ResultEntity.data);
                    layer.msg("使用成功", {time:1000, icon:6, shift:6});
                    roleAttribute();
                }else {
                    layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
                }
            })
        })

    })

    //最大生命加点
    function physical() {
        var roleId = $("#roleId").attr("value");
        $.post("/physicalLittle",{roleId:roleId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $('#rolePhysical').attr("value",ResultEntity.data.Maxlife);
                $('#rolePhysical').html("最大生命："+ResultEntity.data.Maxlife+'&nbsp;'+'<button id="physicalButton" onclick=physical()>+</button>');
                $('#physicalButton').addClass("button button-primary button-circle button-tiny");

                $('#roleLife').attr("value",ResultEntity.data.life);
                $('#roleLife').html("生命："+ResultEntity.data.life);

                $('#roleFreelyDistributable').attr("value",ResultEntity.data.freelyDistributable);
                $('#roleFreelyDistributable').html("可分配属性点："+ResultEntity.data.freelyDistributable);
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    //攻击加点
    function powers() {
        var roleId = $("#roleId").attr("value");
        $.post("/powerLittle",{roleId:roleId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $('#rolePower').attr("value",ResultEntity.data.attack);
                $('#rolePower').html("攻击："+ResultEntity.data.attack+'&nbsp;'+'<button id="powerButton" onclick=powers()>+</button>');
                $('#powerButton').addClass("button button-primary button-circle button-tiny");

                $('#roleFreelyDistributable').attr("value",ResultEntity.data.freelyDistributable);
                $('#roleFreelyDistributable').html("可分配属性点："+ResultEntity.data.freelyDistributable);
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    //防御加点
    function agility() {
        var roleId = $("#roleId").attr("value");
        $.post("/agilityLittle",{roleId:roleId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $('#roleAgility').attr("value",ResultEntity.data.defense);
                $('#roleAgility').html("防御："+ResultEntity.data.defense+'&nbsp;'+'<button id="agilityButton" onclick=agility()>+</button>');
                $('#agilityButton').addClass("button button-primary button-circle button-tiny");

                $('#roleFreelyDistributable').attr("value",ResultEntity.data.freelyDistributable);
                $('#roleFreelyDistributable').html("可分配属性点："+ResultEntity.data.freelyDistributable);
            }else {
                alert(ResultEntity.message);
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    //魔法加点
    function mind() {
        var roleId = $("#roleId").attr("value");
        $.post("/mindLittle",{roleId:roleId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $('#roleMind').attr("value",ResultEntity.data.magic);
                $('#roleMind').html("魔法："+ResultEntity.data.magic+'&nbsp;'+'<button id="mindButton" onclick=mind()>+</button>');
                $('#mindButton').addClass("button button-primary button-circle button-tiny");

                $('#roleFreelyDistributable').attr("value",ResultEntity.data.freelyDistributable);
                $('#roleFreelyDistributable').html("可分配属性点："+ResultEntity.data.freelyDistributable);
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    //升级
    function leaveUP() {
        var roleId = $("#roleId").attr("value");
        $.post("/leaveUP",{roleId:roleId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $('#roleExp').attr("value",ResultEntity.data.exp);
                $('#roleExp').html("当前经验："+ResultEntity.data.exp+'<button onclick=leaveUP()>升级</button>');

                $('#roleLeaveExp').attr("value",ResultEntity.data.leaveExp);
                $('#roleLeaveExp').html("升级经验："+ResultEntity.data.leaveExp);

                $('#roleLeave').attr("value",ResultEntity.data.roleLeave);
                $('#roleLeave').html("等级："+ResultEntity.data.roleLeave);

                $('#roleFreelyDistributable').attr("value",ResultEntity.data.freelyDistributable);
                $('#roleFreelyDistributable').html("可分配属性点："+ResultEntity.data.freelyDistributable);
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    //刷新当前角色的状态信息
    function roleAttribute() {
        var roleId = $("#roleId").attr("value");
        $.post("/getRole",{roleId:roleId},function (ResultEntity) {
            $('#roleExp').attr("value",ResultEntity.data.exp);
            $('#roleExp').html("当前经验："+ResultEntity.data.exp +'<button onclick=leaveUP()>升级</button>');

            $('#roleLife').attr("value",ResultEntity.data.life);
            $('#roleLife').html("血量："+ResultEntity.data.life);

            $('#lifeMax').attr("value",ResultEntity.data.lifeMax);
            $('#lifeMax').html("最大血量："+ResultEntity.data.lifeMax + ' <button id=physicalButton onclick=physical()>+</button>');

            $('#magic').attr("value",ResultEntity.data.magic);
            $('#magic').html("魔法："+ResultEntity.data.magic + ' <button id=mindButton onclick=mind()>+</button>');

            $('#attack').attr("value",ResultEntity.data.attack);
            $('#attack').html("攻击："+ResultEntity.data.attack + ' <button id=powerButton onclick=powers()>+</button>');

            $('#defense').attr("value",ResultEntity.data.defense);
            $('#defense').html("防御："+ResultEntity.data.defense + ' <button id=agilityButton onclick=agility()>+</button>');

            $('#feedDegree').attr("value",ResultEntity.data.feedDegree);
            $('#feedDegree').html("饥饿度："+ResultEntity.data.feedDegree);

            $('#gold').attr("value",ResultEntity.data.gold);
            $('#gold').html("金钱："+ResultEntity.data.gold);

            $('#physicalButton').addClass("button button-primary button-circle button-tiny");
            $('#mindButton').addClass("button button-primary button-circle button-tiny");
            $('#powerButton').addClass("button button-primary button-circle button-tiny");
            $('#agilityButton').addClass("button button-primary button-circle button-tiny");
        })
    }

    /*点开背包*/
    function popBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "block";
        popLayer.style.display = "block";
        getPacksack();
    };

    /*点击关闭按钮*/
    function closeBox() {
        var popBox = document.getElementById("popBox");
        var popLayer = document.getElementById("popLayer");
        popBox.style.display = "none";
        popLayer.style.display = "none";
    }

    /*触发全清奖励*/
    function allClearRewardBox() {
        var allClearRewardBox = document.getElementById("allClearRewardBox");
        var popLayer = document.getElementById("popLayer");
        allClearRewardBox.style.display = "block";
        popLayer.style.display = "block";
        var roleId = $("#roleId").attr("value");
        $.post("/triggerAllClearReward",{roleId:roleId},function (ResultEntity) {
            //显示随机出来的3个奖励
            if (ResultEntity.result == "SUCCESS"){
                var data = ResultEntity.data;

                $.each(data,function (i,reward) {
                    if (i==0){
                        $("#allClearReward1").html(reward.rewardName)
                        $("#allClearReward1").attr("title",reward.rewardTitle)
                    }else if (i==1){
                        $("#allClearReward2").html(reward.rewardName)
                        $("#allClearReward2").attr("title",reward.rewardTitle)
                    }else if (i==2){
                        $("#allClearReward3").html(reward.rewardName)
                        $("#allClearReward3").attr("title",reward.rewardTitle)
                    }
                })
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    };

    /*关闭全清奖励*/
    function allClearRewardCloseBox() {
        var allClearRewardBox = document.getElementById("allClearRewardBox");
        var popLayer = document.getElementById("popLayer");
        allClearRewardBox.style.display = "none";
        popLayer.style.display = "none";
    }

    /*触发商店*/
    function storeBox(attr) {
        var storeBox = document.getElementById("storeBox");
        var popLayer = document.getElementById("popLayer");
        storeBox.style.display = "block";
        popLayer.style.display = "block";
        var roleId = $("#roleId").attr("value");
        $.post("/getStore",{roleId:roleId,attr:attr},function (ResultEntity) {
            //显示商店的6个道具
            if (ResultEntity.result == "SUCCESS"){
                var data = ResultEntity.data;
                var content = '';
                content += "<tr style=\"height: 50px\" align=\"center\">\n" +
                    "                    <td colspan=\"6\">欢迎光临</td>\n" +
                    "                </tr>"
                content += "<tr style=\"height: 40px\" align=\"center\">"

                $.each(data,function (i,gameProp) {
                    content += "<td id=store"+i;
                    content += " title="+gameProp.propDescribe+"&#10;价格："+gameProp.propPrice+">";
                    content += gameProp.propName;
                    content += '<sub>'+gameProp.propPrice+'</sub>'
                    content += "</td>";
                })
                content += "</tr>"

                $("#store").html(content);

            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    };

    /*关闭商店*/
    function storeCloseBox() {
        var storeBox = document.getElementById("storeBox");
        var popLayer = document.getElementById("popLayer");
        storeBox.style.display = "none";
        popLayer.style.display = "none";
    }
    
    /*获取背包道具*/
    function getPacksack() {
        var roleId = $("#roleId").attr("value");
        $.post("/getPacksack",{roleId:roleId},function (ResultEntity){
            if (ResultEntity.result == "SUCCESS"){
                //刷新背包
                var data = ResultEntity.data;

                var content = '';
                $.each(data,function (i,n) {
                    content += "<tr style=\"height: 40px\" align=\"center\">"

                    $.each(n,function (i,m) {
                        content += "<td id='"+m.id+"'";
                        content += "value='"+m.theNumber+"'";
                        content += "title='"+m.propDescribe+"'"+" style=\"width: 40px\">"
                        content += m.propName
                        content += '<sub>'+m.theNumber+'</sub>'
                        content += "</td>"
                    })

                    content += "</tr>"
                })
                $("#packsack").html(content);
            }else {
                $("#packsack").html("背包为空");
            }
        })
    }

    /*使用道具*/
    function propUse() {
        var roleId = $("#roleId").attr("value");
        var attr = $("#packsack td[bgcolor='#696969']");
        var attrId = attr[0].id;
        $.post("/propUse",{roleId:roleId,attrId:attrId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $("#fighting").append(ResultEntity.message)
                roleAttribute();
                getPacksack();
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    /*合成道具*/
    function propSynthetic() {
        var roleId = $("#roleId").attr("value");
        var attr = $("#packsack td[bgcolor='#696969']");
        var attrIds = [];
        for (var i = 0;i<attr.length;i++){
            attrIds[i]=attr[i].id;
        }
        var attrId = JSON.stringify(attrIds);
        $.post("/propSynthetic",{roleId:roleId,attrId:attrId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                getPacksack();
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    /*出售道具*/
    function porpDiscarded() {
        var roleId = $("#roleId").attr("value");
        var attr = $("#packsack td[bgcolor='#696969']");
        var attrIds = [];
        for (var i = 0;i<attr.length;i++){
            attrIds[i]=attr[i].id;
        }
        var attrId = JSON.stringify(attrIds);
        $.post("/propSell",{roleId:roleId,attrId:attrId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                alert(ResultEntity.data);
                getPacksack();
            }else {
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

    /*选择奖励*/
    function allClearReward(index) {
        var roleId = $("#roleId").attr("value");
        $.post("/getAllClearReward",{roleId:roleId,index:index},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){

                $("#fighting").append(ResultEntity.message)
                roleAttribute();

                var data = ResultEntity.data;

                var content = '';
                $.each(data,function (i,n) {
                    content += "<tr style=\"height: 60px\" align=\"center\">"

                    $.each(n,function (i,m) {
                        content += "<td id='"+m.x+","+m.y+"'"+" ";
                        content += "title='"+m.data.MapTitle+"'"+" ";
                        content += "style=\"width: 60px\">"
                        content += m.data.MapDescribe
                        content += "</td>"
                    })

                    content += "</tr>"
                })

                $("#mapTable").html(content);

                allClearRewardCloseBox();
            }
        })
    }

    /*商店取消*/
    function storeCancel() {
        storeCloseBox();
    }

    /*商店购买*/
    function storeBuy() {
        var roleId = $("#roleId").attr("value");
        var attr = $("#store td[bgcolor='#696969']");
        var attrIds = [];
        for (var i = 0;i<attr.length;i++){
            attrIds[i]=attr[i].id;
        }
        var attrId = JSON.stringify(attrIds);
        $.post("/storeBuy",{roleId:roleId,attrId:attrId},function (ResultEntity) {
            if (ResultEntity.result == "SUCCESS"){
                $("#fighting").append(ResultEntity.message)

                var data = ResultEntity.data;

                $('#gold').attr("value",data);
                $('#gold').html("金钱："+data);
                storeCancel();
            }else {
                roleAttribute();
                layer.msg(ResultEntity.message, {time:1500, icon:5, shift:6});
            }
        })
    }

</script>
</body>
</html>
