<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyt.rlife.rlife.mapper.PacksackMapper">

    <select id="selectPacksackByRoleId" resultMap="selectPacksackByRoleIdMap">
        SELECT
            p.id as p_id,p.role_id as p_role_id,gp.id as gp_id,prop_name,prop_describe,pp.the_number as the_number
        FROM
            packsack p,
            packsack_prop pp,
            game_prop gp
        WHERE
            p.id = pp.packsack_id AND
            pp.prop_id = gp.id AND
            p.role_id = #{roleId}
    </select>

    <select id="selectUserPacksackByUserId" resultMap="selectPacksackByRoleIdMap">
        SELECT
            p.id as p_id,p.user_id as p_role_id,gp.id as gp_id,prop_name,prop_describe,pp.the_number as the_number
        FROM
            packsack_user p,
            packsack_user_prop pp,
            game_prop gp
        WHERE
            p.id = pp.packsack_user_id AND
            pp.prop_id = gp.id AND
            p.user_id = #{userId}
    </select>

    <delete id="deleteByRoleIdOrPropId">
            DELETE FROM packsack_prop
            WHERE
            packsack_prop.packsack_id = #{packId}
            AND packsack_prop.prop_id =#{propId}
    </delete>

    <update id="updateByRoleIdOrPropIdLess">
        UPDATE packsack_prop
        SET packsack_prop.the_number = packsack_prop.the_number - 1
        WHERE
            packsack_prop.packsack_id = #{packId}
        AND packsack_prop.prop_id = #{propId}
    </update>

    <update id="updateByRoleIdOrPropIdUP">
        UPDATE packsack_prop
        SET packsack_prop.the_number = packsack_prop.the_number + 1
        WHERE
            packsack_prop.packsack_id = #{packId}
        AND packsack_prop.prop_id = #{propId}
    </update>

    <update id="instProp">
        INSERT INTO packsack_prop(packsack_id,prop_id,the_number) VALUES(#{packId},#{propId},1)
    </update>

    <resultMap id="selectPacksackByRoleIdMap" type="com.fyt.rlife.rlife.bean.game.common.Packsack">
        <id column="p_id" property="id"></id>
        <result column="p_role_id" property="roleId"></result>

        <collection property="propLists" ofType="com.fyt.rlife.rlife.bean.game.common.GameProp">
            <id column="gp_id" property="id"></id>
            <result column="prop_name" property="propName"></result>
            <result column="prop_describe" property="propDescribe"></result>
            <result column="the_number" property="theNumber"></result>
        </collection>

    </resultMap>

</mapper>