<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fyt.rlife.rlife.mapper.SkillMapper">

    <select id="selectByRoleId" resultMap="selectByRoleIdMap">
        SELECT
            rsk.id as id,rsk.skill_leave as skillLeave
        FROM
            role_skill rsk
        where
            rsk.role_id = #{roleId}
    </select>
    <resultMap id="selectByRoleIdMap" type="com.fyt.rlife.rlife.bean.game.RoleSkill">
        <id column="id" property="id"></id>
        <result column="skillLeave" property="skillLeave"></result>
    </resultMap>

</mapper>